@charset "UTF-8";
/* CSS Document */

.main {
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
}

.header {
	margin-top:30px;
}

.bodyback {
	background-color:rgb(234, 229, 229);
}

.bodymargin {
	margin-top:20px;
	margin-bottom:60px;
	border-spacing:10px;
}

.bodymargin2 {
	margin-bottom:60px;
	border-spacing:10px;
}

.footer {
	background-color:#111111;
	text-align:center;
	color:#FFF;
	padding-top:30px;
	padding-bottom:30px;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.font {
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.font a {
	text-decoration:none;
	color:#CBBBA0;
}

.font a:hover {
	color:#960;
}

.img {
	border-width:5px;	
	border-style:dashed;
	border-color:#454544;
}

.frame {
	border-width:5px;	
	border-style:dashed;
	border-color:#454544;
}

.penjelasan {
	padding-left:10px;
	padding-right:10px;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:justify;
}