@charset "UTF-8";
/* CSS Document */

.main {
	margin-left:auto;
	margin-right:auto;
	background-color:#FFF;
}

.header {
	margin-top:30px;
}

.bodyback {
	background-color:rgb(234, 229, 229);
}

.bodymargin {
	margin-top:20px;
	margin-bottom:60px;
	border-spacing:10px;
}

.footer {
	background-color:#111111;
	text-align:center;
	color:#FFF;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.font {
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.font a {
	text-decoration:none;
	color:#CBBBA0;
}

.font a:hover {
	color:#960;
}